In [1]:
import numpy as np
import pandas as pd
import copy

In [57]:
namesNew = ["AC.PA", "AIR.PA", "AI.PA", "CS.PA", "BNP.PA", "CAP.PA", "CA.PA", "ACA.PA", "BN.PA",
            "KER.PA", "LI.PA", "LR.PA", "OR.PA", "MC.PA", "ML.PA", "ORA.PA", "RI.PA", "UG.PA", "PUB.PA", "RNO.PA", 
            "SAF.PA", "SAN.PA", "SU.PA", "GLE.PA", "SW.PA", "SOLB.BR", "FP.PA", "VIE.PA", "DG.PA", "VIV.PA",
            "CS.PA", "GLE.PA", "ORA.PA", "ACA.PA", "FP.PA", "EDF.PA", "KN.PA", "VIV.PA", "UG.PA",
            "ENGI.PA", "STM.PA", "FTI.PA", "CA.PA", "BOL.PA", "BNP.PA", "SAN.PA", "DG.PA",
            "SFR.PA", "SGO.PA", "AIR.PA", "RNO.PA", "BN.PA", "SU.PA", "VIE.PA", "EN.PA", "EI.PA",
            "FR.PA", "AI.PA", "LI.PA", "SAF.PA", "PUB.PA", "AC.PA", "LR.PA", "MC.PA", "RI.PA", "CAP.PA",
            "OR.PA", "ML.PA", "CNP.PA", "SW.PA", "HO.PA", "DSY.PA",
            "KER.PA", "ATO.PA", "ILD.PA", "GNE.PA", "ADP.PA", "RMS.PA", "GFC.PA", "HSB.PA", "CDI.PA",
            "SLB.PA", "IAM.PA", "DGE.PA", "VALE3.PA", "MRK.PA", "PM.PA", "LLY.PA", "PGP.PA",
            "CATR.PA"]

In [58]:
names = pd.Series(namesNew)
names.drop_duplicates(inplace=True)
names = names.tolist()

In [59]:
from pandas_datareader import data

In [60]:
data_source = 'yahoo'
start_date = '2010-01-02'
end_date = '2013-12-31'

In [61]:
panel_data = data.DataReader(names, data_source, start_date, end_date)

In [140]:
a = copy.copy(panel_data)

In [141]:
adj_close = a.loc['Adj Close']

In [142]:
adj_close.shape

(1024, 61)

In [143]:
adj_close.dropna(axis=0,thresh=2, inplace=True)

Удалил строки где только одна компания в этот день имела торги (они всё ломают).

In [147]:
adj_close.shape

(1022, 61)

In [161]:
adj_close.dropna(axis=1,thresh=1006).shape

(1022, 53)

In [162]:
adj_close.dropna(axis=1,thresh=1006, inplace=True)

Удалил компании где есть больше 16 пропусков

In [170]:
adj_close.drop('BOL.PA', axis=1, inplace=True)

In [174]:
adj_close.to_csv(path_or_buf='adj_close.csv', sep=';')

In [175]:
from pandas import read_csv
datasetPrice = read_csv('adj_close.csv',';', index_col=['Date'], parse_dates=['Date'], dayfirst=True)

In [177]:
def log_profitability(dataS):
    dataSNew = copy.copy(dataS)
    for column in range(0,dataS.shape[1]):
        for index in range(0,(dataS.shape[0])-1):
            dataSNew.iloc[index][column] = np.log(dataS.iloc[index+1][column]/dataS.iloc[index][column])
    dataSNew.drop(dataSNew.tail(1).index,inplace=True)
    return dataSNew

In [178]:
dataProb = log_profitability(datasetPrice)
dataProb.head()

,AC.PA,ACA.PA,ADP.PA,AI.PA,AIR.PA,ATO.PA,BN.PA,BNP.PA,CA.PA,CAP.PA,...,SAN.PA,SGO.PA,SLB.PA,SOLB.BR,STM.PA,SU.PA,SW.PA,UG.PA,VIE.PA,VIV.PA
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,-0.006189,0.015090,0.001924,-0.020204,-0.003222,0.020203,-0.008714,-0.001924,0.023401,0.012367,...,-0.013304,-0.004742,0.007093,-0.004751,-0.000155,-0.004863,0.000991,0.008729,0.007679,-0.000237
2010-01-05,-0.011974,0.017511,-0.000874,-0.006178,0.008924,0.017366,-0.000117,0.001574,-0.007354,0.019649,...,-0.005730,-0.004249,0.001926,0.000000,0.011669,-0.010290,0.039083,0.061908,0.014556,-0.010804
2010-01-06,-0.010263,0.000377,-0.000175,-0.001215,0.009901,-0.007778,-0.002103,0.017325,-0.011352,-0.010510,...,0.005016,-0.002843,0.031354,0.015618,-0.012905,-0.001972,-0.028862,0.014522,0.011659,-0.003074
2010-01-07,0.000660,0.016090,0.021800,0.003157,0.009804,-0.015592,-0.002342,0.023427,0.009759,0.004246,...,-0.005555,0.006706,0.010305,-0.014032,-0.003718,-0.009048,0.003058,-0.007519,0.038377,-0.011912
2010-01-08,-0.006364,-0.006330,-0.006180,-0.006204,0.009018,0.012261,-0.001642,-0.014194,-0.015042,-0.002048,...,0.007697,-0.009298,-0.013210,-0.019166,-0.014697,0.004720,-0.001222,0.005270,0.008134,0.001915

In [179]:
dataProb.to_csv(path_or_buf='dataProbability.csv', sep=';')